.hidden{
    transition: 0.7s ease-out;
    opacity: 1;
    transform: translateY(100%);
    filter: blur(5px);
}
.show{
    opacity: 1;
    transform: translateY(0%);
    filter: blur(0);
}
@keyframes ilumination {
    0%{filter: drop-shadow(0px 0px 0px);}
    50%{filter: drop-shadow(1px 1px 3px);}
    100%{filter: drop-shadow(0px 0px 0px);}
}