*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6,p,span{
    cursor: default;
}
/* section{
    width: 100%;
} */