*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
}