@media (max-width: 768px) {
    #investir{
        background-position: -50%;
    }
}

@media (max-width: 425px){

        header{
            max-width: 425px;
        }
        
        #investir{
            background-size: cover;
            background-position: 400%;
        }
    }

@media (max-width:375px){
            header{
            max-width: 375px;
        }

            #investir{
                background-size: cover;
                background-position: 110%;
            }
    }
@media (max-width:320px){
            header{
            max-width: 320px;
        }
    }

