 @media (max-width: 425px){

        
        #treinamentos-servicos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: none;
        }
        .cards{
            border: none;
            border-radius: none;
        }
        .atendimento{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            width: 100%;
        }
        .img-atendimento{
            display: none;
        }

    }
