html{
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
    background-color: var(--soft-black-);
    color: whitesmoke; 
    font-family: var(--font-1-);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 40px;
    background-color: var(--dark-primary-);
    color: white;
    position: fixed;
    z-index: 10;
    border-bottom: solid 5px ;
    box-shadow: 1px 1px 90px black;
}

#treinamentos,
#servicos,
#beneficios{
    scroll-margin-top: 100px;
} 

.logo{
    cursor: default;
}
#nav-menu ul, .logo{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    font-weight: 600;
    font-size: clamp(10px, 2.5vw, 20px);
    text-align: center;
    position: relative;
}

#nav-menu ul li a{
    padding-bottom:10px;
}


#nav-menu ul li a::after{
    content: '';
    display: block;
    bottom: 0;
    height: 2px;
    left: 0;
    width: 0%;
    background-color: white;
    transition: 0.3s ease-in-out;
}

#nav-menu ul li a:hover::after{
    content: '';
    width: 100%;
    background-color: white;
}
#section-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height:100vh;
    background: url(/src/images/homem-no-arame.jpg) center center no-repeat scroll;
    background-size: cover;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;    
    text-align: start;
    width: 100%;   
    padding: 50px;
    padding-top: 120px;
    font-size: clamp(10px, 3vw, 30px);
    background-color: white;
    color: var(--dark-primary-); 
    border-right: 5px solid var(--primary-);
}
    

#treinamentos-servicos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height:100vh;
    width: 100%;
    background: url(/src/images/marceneiro.jpg) top center /  cover no-repeat fixed;
}

.tittle-section{
    font-size: clamp(12px, 8vw, 40px);
    color: var(--primary-);
}

.cards{
    display:flex ;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
    height: 100%;
    max-width:100%;
    background-color: white;
    border: solid 5px var(--dark-primary-);
    border-left: none;
    border-radius: 0px 30px 30px 0px;
}

.cards .tittle-section{
    color: var(--dark-primary-);
}
.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid var( --primary-);
    color: var(--primary-);
    background-color: var(--soft-black-);
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    text-align: start;
    transition: 0.5s ease-out;
    opacity: 1;
    max-width:400px;
    height: auto;
}

.card p{
    font-weight: 700;
}

.card:hover{
    box-shadow: 15px 15px 10px black;
    transform: translateY(-2px) scale(1.1);
}

#beneficios{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
    color: white;
    padding: 30px;
    /* background:url(/src/images/marceneiro.jpg) center right / cover no-repeat fixed; */
}
    
#beneficios ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#beneficios ul li{
    background-color: var(--dark-green-);
    width: 100%;
    max-width: 500px;
    border:solid white;
    border-radius: 30px;
    padding: 30px;
    font-weight: 700;
    text-align: center;
}
#beneficios ul li:nth-child(even){
    background-color: var(--soft-black-);
    border: solid var(--dark-green-);
}

#investir{
    display: grid;
    grid-template-columns: repeat(2, 60% 40%);
    height: 100vh;
    color: white;
    background: url(/src/images/victor-meza-ZAaUcbDdkQU-unsplash.jpg) center left / cover no-repeat local;
}
#investir h2{
    color: white;
    padding: 50px;
    font-family: var(--font-2-);
}
.texts{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-size: clamp(10px,2vw, 20px);
    text-align: center;
    gap: 10px;
    background-color: var(--dark-primary-);
    border-left: solid 5px;
}
#atendimento{
    display: grid;
    grid-template: auto /  repeat(2, 1fr);
    place-items: start;
    height: auto;
}

#atendimento .tittle-section{
    padding: 40px;
    padding-bottom: 0;
}
.img-atendimento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-column: 2 / 2;
    background-color: var(--dark-primary-);
    padding: 20px;
    border-radius: 150px 0 0 150px;
    border: solid 3px white;
    border-right: none;
}
#atendimento img{
    animation: ilumination 2s ease-in-out infinite;
}

#atendimento ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding: 50px;
    grid-column: 1/1;
}

#atendimento li{
    background: linear-gradient(80deg, var(--dark-primary-) 50% , black );
    padding: 20px;
    width: 100%;
    border-radius: 30px 0 30px 0;
    border: solid 3px white;
}

#atendimento ul li p{
    font-weight: 700;
    color: white;
    margin-left: 30px;
}

#clientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--dark-primary-);
    padding: 40px;
    min-height: 100vh;
    height:auto ;
    text-align: center;
}

#clientes ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    max-width: 100%;
    padding: 50px;
    gap: 30px;
}

#clientes ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px;
    max-width: 200px;
    height:100%;
    border: solid 3px var(--dark-primary-);
    border-radius: 30px;
    /* padding: 40px; */
}

#clientes .text-clientes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    background-color: var(--dark-primary-);
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 20px ;
    color: white;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 30px;
    font-weight: 900;
    text-align: center;

}
footer{
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    height: 100px;
    width: 100%;
    padding: 30px;
    background-color: #000000;
    color: white;
}