html{
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
    background-color: var(--soft-black-);
    color: whitesmoke; 
    font-family: var(--font-1-);
    width: 100vw;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: 80px;
    padding: 30px;
    background-color: var(--dark-primary-);
    color: white;
    position: fixed;
    z-index: 10;
    border-bottom: solid 5px ;
    box-shadow: 0px 0px 100px 50px black;
}

#treinamentos,
#servicos{
    scroll-margin-top: 100px;
} 
#about{
    scroll-margin-top: 80px;
}
.logo{
    cursor: default;
}
#nav-menu ul, .logo{
    display: flex;
    align-items: center;
    width: auto;
    gap: 20px;
    font-weight: 600;
    font-size: clamp(10px, 2vw, 20px);
    text-align: center;
}

#nav-menu ul li a{
    padding-bottom:10px;
}


#nav-menu ul li a::after{
    content: '';
    display: block;
    bottom: 0;
    height: 2px;
    left: 0;
    width: 0%;
    background-color: white;
    transition: 0.3s ease-in-out;
}

#nav-menu ul li a:hover::after{
    content: '';
    width: 100%;
    background-color: white;
}
#section-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    min-height:100vh;
    background: url(../images/homem-no-arame.jpg) center no-repeat fixed ;
    background-size: cover;
    background-position: 70%;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    gap: 30px;    
    text-align: start;
    padding: 10%;
    padding-top: 120px;
    font-size: clamp(12px, 3vw, 30px);
    background-color: white; 
    color: var(--dark-primary-); 
    border-right: 5px solid var(--primary-);
}

#investir{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    min-height: 100vh;
    max-height: 100%;
    color: white;
    background: url(../images/victor-meza-ZAaUcbDdkQU-unsplash.jpg) no-repeat ;
    background-position: -100%;
    background-size: contain;
} 
#investir h2{
    color: white;
    padding: 10%;
    font-family: var(--font-2-);
    font-size: clamp(10px,6vw,40px);
}
.texts{ 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    font-size: clamp(10px,2vw, 20px);
    text-align: center;
    gap: 10px;
    background-color: var(--dark-primary-);
    border-left: solid 5px;
    width: 50vw;
}
#treinamentos-servicos{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height:auto;
    width: 100%;
    background: url(..//images/marceneiro.jpg) top center /  cover no-repeat fixed;
}

.tittle-section{
    font-size: clamp(8px, 5vw, 40px);
    color: var(--primary-);
}
 
.cards{
    display:flex ;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10%;
    height: 100%;
    grid-column: 1 / 2;
    background-color: var(--soft-black-);
    border-right: solid 5px white;
}
.cards .tittle-section{
    color: white;
    padding: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid var( --primary-);
    color: var(--primary-);
    background-color: var(--soft-black-);
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    text-align: start;
    transition: 0.5s ease-out;
    opacity: 1;
    width: 100%;
    height: auto;
    font-size: clamp(8px,2vw,20px);
}

.card p{
    font-weight: 700;
}

.card:hover{
    box-shadow: 15px 15px 10px black;
    transform: translateY(-2px) scale(1.1);
}

.atendimento-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    height: auto;
    max-width: 100%;
    border-top: solid 5px white;
}

#atendimento .tittle-section{
    text-align: center;
    padding-top: 40px;
}

.img-atendimento{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--dark-primary-);
    padding: 20px;
    border-radius: 150px 0 0 150px;
    border: solid 3px white;
    border-right: none;
}
#atendimento img{
    animation: ilumination 2s ease-in-out infinite;
}

.atendimento-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: 2rem;
    grid-area: atendimento-ul;
    /* grid-column: 1/1; */
}

#atendimento li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(80deg, var(--dark-primary-) 50% , black );
    padding: 40px;
    width: 100%;
    max-width: 500px;
    border-radius: 30px ;
    border: solid 3px white;
    text-align: center;
    font-weight: 700;
    color: white;
    font-size: clamp(15px,2vw,20px);
}

#clientes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--dark-primary-);
    min-height: 100vh;
    height:auto ;
    text-align: center;
    padding-top:50px ;
}

#clientes ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    align-content: center;
    max-width: 100%;
    padding: 50px;
    gap: 30px;
}

#clientes ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:100%;
    
}
#clientes ul li img{
    border: solid 5px var(--dark-primary-);
    border-bottom:none;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
}
#clientes .text-clientes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    background:linear-gradient(135deg,   var(--dark-primary-) 20%, black 80%); 
    width: 100%;
    height: 100px;
    color: white;
    border-radius: 0px 0px 20px 20px;
}

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    gap: 30px;
    font-weight: 900;
    text-align: center;
    height: auto;
}

#about-text{
    max-width: 500px;
}

footer{
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    height: 100px;
    width: 100%;
    padding: 30px;
    background-color: #000;
    color: white;
}